# Локальные файлы редакторов
.vscode/
.idea/

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===================================================================
# Файлы для Node.js (общие и для папки backend)
# ===================================================================

# Папка с зависимостями
node_modules/

# Файлы окружения (содержат секретные ключи и пароли)
.env
.env.local
.env.*.local

# ===================================================================
# Файлы для React (папка frontend)
# ===================================================================

# Папка сборки
/frontend/build

# Кэш
/frontend/.cache