.formContainer {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formContainer h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.formGroup {
    margin-bottom: 1rem;
}

.passwordInputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
    font-weight: bold;
    color: #555;
}

.formGroup input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box; /* Чтобы padding не влиял на общую ширину */
}

.passwordToggleIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #555;
}

.formButton {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #282c34;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formButton:hover {
    background-color: #444;
}

.formLink {
    text-align: center;
    margin-top: 1rem;
}

.errorMessage {
    color: #d93025;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.successMessage {
    color: #28a745;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}