.header {
    background-color: #282c34;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Распределяем элементы по краям */
    color: white;
    position: relative;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    height: 8vmin;
    pointer-events: none;
}

.shopTitle {
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
}

.navContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navLink {
    color: #61dafb;
    text-decoration: none;
}

.userActions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logoutButton {
    background: none;
    color: #61dafb;
    border: none;
    cursor: pointer;
    font-size: 1.2rem; /* Увеличим размер иконки */
    padding: 0;
    line-height: 1; /* Для выравнивания */
}

.logoutButton:hover {
    color: white;
}