.header {
    background-color: #282c34;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between; /* Распределяем элементы по краям */
    color: white;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 8vmin;
    pointer-events: none;
}

.shopTitle h1 {
    margin: 0;
    font-size: 1.5rem;
}

.shopTitle {
    text-decoration: none;
    color: inherit;
}

.navContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1rem;
    background: white;
    padding: 8px 15px;
    border-radius: 50px;
    color: #282c34;
    text-decoration: none;
}

.navLink i {
    margin-right: 5px;
}

.cartCount {
    font-weight: bold;
}

.userActions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logoutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: #282c34;
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    font-size: 1.4rem; /* Увеличим размер иконки */
    padding: 0;
    line-height: 1; /* Для выравнивания */
}

.logoutButton:hover {
    color: #21a1f1;
}

/* Стили для переключателя языка */
.langSwitcher {
    display: flex;
    align-items: center;
    border: 1px solid #555; /* Темная рамка для контраста */
    border-radius: 20px;
    overflow: hidden;
    /* Отступ будет регулироваться gap в .navContainer */
}

.langSwitcher button {
    background: none;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
    color: #aaa; /* Светлый текст для неактивного состояния */
    transition: background-color 0.2s, color 0.2s;
}

.langSwitcher button.activeLang {
    background-color: #007bff; /* Синий для активного состояния */
    color: white;
}